/* Style for the Login Container */

.login-image{
  background-image:url('../Images/bglog.jpg') ;
  /* /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100vh;
  width: auto;
}
.login-container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

/* Style for the Login Form */
.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border:5px solid rgb(38, 187, 105);

}

/* Style for the Login Header */
.login-h2 {
  color: #ff7e67; /* Orange Text */
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style for the Login Labels */
.login-label {
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
}

/* Style for the Login Input Fields */
.login-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #7f8fa6; /* Light Blue Border */
  border-radius: 5px;
  font-size: 14px;
}

/* Style for the Login Button */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(38, 187, 105); /* Turquoise Button */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for the Login Button on Hover */
.login-button:hover {
  background-color: #32a899; /* Darker Turquoise on Hover */
}

/* Style for the Login Paragraph */
.login-p {
  margin-top: 16px;
  font-size: 20px;
  color:white; /* Gray Text */
  text-align: center;
}

/* Style for the Login Link */
.login-a {
  color: #ff7e67; /* Orange Link */
  text-decoration: none;
  font-weight: bold;
}

/* Style for the Login Link on Hover */
.login-a:hover {
  text-decoration: underline;
  color: #e74c3c; /* Darker Red on Hover */
}
