
.la-container {
    max-width: 600px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: black;
    border: black;
  }
  
  .la-heading {
    color: #007bff;
    text-align: center;
  }
  
  .la-form {
    margin-top: 20px;
  }
  
  .la-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .la-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .la-file-input {
    margin-top: 10px;
  }
  
  .la-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .la-button:hover {
    background-color: #0056b3;
  }
  